header {
    /*header azul*/
    background-color:#004a87;

}
/*header color azul titulo y logo */
header div.contenedor{
    width:100%;
    flex-direction: row;
    justify-content:space-between;
    display:flex;
    align-items:center;
}

/*titulo del header*/
header h1{
    color: white;
    font-size: 2rem;
    align-items: flex-start;
    padding-right: 1rem;
}

header div.contenedor img {
    height: 70px;
    width: auto;
}

body{
    /*Cuerpo lila*/
    background-color: rgb(196, 215, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


div.contenedor-principal{
    display: flex;
    width:100%;
    min-height: 30px;
}

div.contenedor-principal nav{
    /*Barra de navegacion azul oscuro*/
    background-color: #003366;
    width:100%;
}

div.contenedor-principal nav ul {
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0; 
    padding: 0;
    
}

div.contenedor-principal nav ul li {
    display: flex;
    flex: 1;
}


div.contenedor-principal nav ul li a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight:  bold;
    font-family: sans-serif;
    font-size: 1.2rem;
    
    transition: background-color 0.3s;
}


nav ul li a, a:visited, nav ul li a:active, nav ul li a:hover{
    color:white;
    text-decoration: none;
}

div.contenedor-principal a.active {
    background-color: #003366; /* El color azul del hover */
    color: #ffffff;
    box-shadow: inset 0 -3px 0 #ffffff; /* La línea blanca inferior para resaltar */
}

div.contenedor-principal a:hover {
    /*Color celeste cuando le apoyas el mouse*/
    background-color: #1971b9; 
    color: rgb(255, 255, 255);            
     

}
main h2{
    font-size: 2.5rem;
    color: #003366;
    font-family: sans-serif;

    font-weight: bold;
}

main {
    background-color: rgb(212, 218, 255);
    padding: 2rem;
    flex: 1;
}
footer{
    color: rgb(212, 218, 255);
    background-color: #003366;
    justify-content: center;
    display: flex;
}
/*Botones*/
div .btn-botonNormal{
    background-color: #003366;
    color: rgb(255, 255, 255);
    border: 1px solid #000000; 
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

div .btn-botonNormal:hover, div .btn-botonNormal:active, div .btn-botonNormal:visited, div .btn-botonNormal:link, div .btn-botonNormal:focus-visible    {
    background-color: #1971b9;
    color: white;
}

/*Header de modal*/
.modal-header{
    background-color: #003366 !important;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.modal-header .modal-title{
    color: rgb(255, 255, 255) !important;
}
/*Boton de cerrar ventana del modal*/
.modal-header .btn-botonCerrar {
    background-color: #003366 !important;
    color: rgb(255, 255, 255) !important;
    cursor: pointer;
    transition: all 0.3s ease;
}

div .modal-header .btn-botonCerrar:hover {
    background-color: #ff0000 !important;
}

#btnAgregarCurso .icono-btn {
    fill: #ffffff;
    transition: fill 0.3s ease;
    vertical-align: middle;
}