header{
    background-color: #0c4d61;
    display: flex;          
    align-items: center;    
    padding: 15px 50px;   
    height: 70px;
}

header img{ 
    height: 80px;
}

main{
    display: flex;
    justify-content: center;  
    align-items: center;      
    min-height: calc(90vh - 30px); 
    
    background-color: #f0f2f5f5;  

}

main div.contenedor{
    background-color: rgb(180, 213, 228);
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);  
    width: 100%;
    max-width: 300px;
    display: flex; 
    flex-direction: column;  
    align-items: center;
    text-align: center;
 
}
    

main form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    padding: 2rem;       
    width: 100%;
    box-sizing: border-box;

}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;  
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

 
button {
    width: 100%;
    padding: 12px;
    background-color: #004a61;  
    color:white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
}

button:hover {
    background-color: #003344;
}